body{
    background-color: gray;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(107, 109, 74);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}
ul{
    list-style-type: circle;
    font-size: 1.3em;
}
main{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
.a{
    width: 400px;
}
